@page "/user-test-ssr"
@using Microsoft.AspNetCore.Components.Authorization
@using BlazorAuthentication.Client.Components
<h3>User Test Page Ssr</h3>
<ShowRenderMode/>
<p>Page can be viewed by both anonymous and authorized users with different content</p>
<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <h1>Welcome back, user!</h1>
        </Authorized>
        <NotAuthorized>
            <p>Please log in to access this content.</p>
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>

Information from client side (WASM)
<UserInfoComponent @rendermode="InteractiveWebAssembly"/>

<RenderFragmentTest>
    <ChildContent>
        <h1>Test Static Render Fragment</h1>
        <p>This is some content.</p>
        <LogoutButtons />
    </ChildContent>
</RenderFragmentTest>
@code {

}
